<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book details</title>
    <link rel="stylesheet" type="text/css" href="/detailsBook.css">

</head>
<body>
    <h1 th:text="${title}"></h1>
    <br><br><br><br>
    <h2 th:text="${author}"></h2>
    <h2 th:text="${subject}"></h2>
    <h2 th:text="${description}"></h2>
    <h2 th:text="${copies}"></h2>

    <br>
    <div align="center" id="container">
        <form>
            <label for="updateStatus">Status(*) :</label>
            <input type="text" id="updateStatus" placeholder="status" name="updateStatus">

            <label for="updateEdition">Edition(*) :</label>
            <input type="text" id="updateEdition" placeholder="edition" name="updateEdition">

            <label for="updatePages">Number of pages(*) :</label>
            <input type="text" id="updatePages" placeholder="no of pages" name="updatePages">

            <label for="updatePrice">Price(*) :</label>
            <input type="text" id="updatePrice" placeholder="price" name="updatePrice">
        </form>
    </div>

    <br>
    <table align="center">
        <col width="150">
        <col width="150">
        <col width="250">
        <col width="50">
        <col width="50">
        <col width="80">
        <thead>
            <tr>
                <th>Inventory no</th>
                <th>Status</th>
                <th>Edition</th>
                <th>No of pages</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bookItem : ${allBookItems}">
                <td th:text="${bookItem.inventoryNo}"></td>
                <td th:text="${bookItem.status}"></td>
                <td th:text="${bookItem.edition}"></td>
                <td th:text="${bookItem.noOfPages}"></td>
                <td th:text="${bookItem.price}"></td>
                <td>
                    <form th:action="${'delete/' + bookItem.inventoryNo}">
                        <button class="buttons" type="submit">Delete book item</button>
                    </form>
                    <form th:action="${'update/' + bookItem.inventoryNo}">
                        <button class="buttons" type="submit">Update book item</button>
                    </form>
                </td>
        </tr>
        </tbody>
    </table>
</body>
</html>